/*
.App {
  text-align: center;
  height: 100%;
}

html, body, #root, .App {
  height: 100%;
  border: 0;
}

* {
 margin: 0;
 padding: 0;
}


.my_header {
    background-color: rgb(29, 161, 242);
    color:  white;
    height: 10%;
    align-items: center;
    display: flex;
    margin:  auto;
}

.navigationWrapper{
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.my_title {
  padding-left: 20px;
}

.graphArea {
    width: 600px;
    height:  500px;
}*/